.promo__container {
    position: relative;
    display: flex;
    justify-content: center;
}


.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.promo__select-period {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(128,128,128, 0.2);
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__select-period-title {
    color: #FFDD00;
    margin-bottom: 10px;
}

.promo__select-period-control {
    display: flex;
}

.promo__cards-container {
    display: flex;
    margin-top: 50px;
}